/*GENERAL*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

/*INDEX*/



/*CREATIVES-OPTIONS*/



/*CREATIVES-MINIMALIST*/

.colorButtons{
	display: block;
}
canvas{
	cursor: crosshair;
}
/*.toolsButtons .btn{
	width: 48%;
}*/
.colorpicker{
	background: transparent;
}
/*.sizebuttons .btn{
	width: 48%;
}*/
.btn{
	margin-bottom: 10px;
}
input{
	margin-bottom: 10px;
}
.input-group{
	margin-bottom: 10px;
}
canvas#canvas{
	position: relative;
	left: 20%;
	top: 18%;
}
div#sidebar{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
	padding: 20px 20px;
	top: 78vh;
    background-color: rgb(255, 255, 255);
}
header{
	z-index: 10;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: solid 1px black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
}
header h3 {
	position: absolute;
	left: 28vh;
	top: 25%;
}

#backgroundPicture{
	position: absolute;
	top: 30px;
	left: -145px;
	height: auto;
	width: 180%;
}
#Logo{
	height: 90%;
	width: auto;
	position: absolute;
	left: 22vh;

}

#drawing_video{
	position: fixed;
	top: 0;
	left: -12vh;
	height: auto;
	width: 100%;
}

#cta{
	background-color: azure;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

button{
	/*background: #4A98F7;*/
	background: #000;
	border: 1px solid #000;
	color: #fff;
	height: 5vh;
	width: 10vh;
}

#additionalPhotos{
	width: 100vh;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	background-color: #000;
}
#additionalPhotos img{
	width: 18vh;
	height: auto;
}
p{
	font-size: small;
}
.colorButtons input{
	width: 40vh;
	height: 3.5vh;
}

#eraser, #clear, #saveToImage{
	margin-right: 5px;
	background-color: #fff;
	color: #000;
	height: 3.5vh;
	width: 15vh;
}

#saveToImage{
	margin-right: 5px;
	background-color: #fff;
	color: #000;
	height: 3.5vh;
	width: 8.3vh;
}

#controlSize{
	width: 40vh;
}

#pay{
	width: 40vh;
	margin-top: 8vh;
}
.cta p{
	text-align: center;
	margin-top: 5px;
}

footer{
	background-color: #000;
	bottom: 0;
	left: 0;
	width: 40vh;
	height: 50vh;
}


/*.select{
	background-color: rgb(99, 99, 99);
	display: inline-flex;
	flex-wrap: wrap;
	max-width: 100%;
}
.select__item{
	background-color: rgb(255, 255, 255);
	padding: 5px;
	cursor: pointer;
	border: 1px solid #000;
	min-width: 20px;
	text-align: center;
}
#select__XS__item--selected{
	background-color: #000;
}*/

.size-selection{
	display: flex;
	flex-wrap: wrap;
}
.size{
	margin-right: 10px;
	border: 1px solid rgb(221, 221, 221);
	min-width: 27px;
	text-align: center;
}

#sidebar #title {
	margin-bottom: 50px;
	right: 0;
}

.informations{
	margin-top: 8vh;
}
.information{
	border: 1px solid rgb(155, 155, 155);
	margin: 0 0;
	padding: 1vh;
	width: 40vh;
}